# The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

# Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

In [9]:
# List created 

list1=[34,54,67,89,11,43,94]

print(list1)

# Remove the 4 index value

list1.pop(4)

print(list1)

# Add the value to the second position

list1.insert(2,11)

print(list1)

# Add value end of the list

list1.append(11)

print(list1)

[34, 54, 67, 89, 11, 43, 94]
[34, 54, 67, 89, 43, 94]
[34, 54, 11, 67, 89, 43, 94]
[34, 54, 11, 67, 89, 43, 94, 11]

# Exercise Question 2: Given a Python list you should be able to display Python list in the following order

In [13]:
# created a list

list1=[100,200,300,400,500]

print(list1)

# print list in reverse order
list1.reverse()

print(list1)

[100, 200, 300, 400, 500]
[500, 400, 300, 200, 100]

# Concatenate (join) two lists in the following order

In [18]:
# created a list

list1=['Hello','take']

print(list1)

# created second list

list2=['Dear','Sir']

print(list2)

# concatenate the list
list1.extend(list2)

print(list1)

['Hello', 'take']
['Dear', 'Sir']
['Hello', 'take', 'Dear', 'Sir']

# Exercise Question 4: Add item 7000 after 6000 in the following Python List

In [20]:
# created a list 

list1=[10,20,[300,400,[5000,6000],500],30,40]

print(list1)

# add the value 7000 next to 6000

list1[2][2].append(7000)

print(list1)

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# Exercise Question 5: Given a nested list extend it with adding sub list

In [30]:
# created the list

list1=['a','b',['c',['d','e',['f','g'],'k'],'l'],'m','n']

print(list1)

list2=['h','i','j']

# adding sub list
list1[2][1][2].extend(list2)

print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# Exercise Question 6: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

In [46]:
# created a list

list1=[5,10,15,20,25,50,20]

print(list1)

list2=list1.index(20)

print(list2)

for i in list1:
    if i==20:
        list1[list2]=200
        break
        
print(list1)

[5, 10, 15, 20, 25, 50, 20]
3
[5, 10, 15, 200, 25, 50, 20]